.footer-wrapper {
  padding: 25px;
  width: 100vw;
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(94, 93, 93);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}