@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lora:ital,wght@0,600;1,600&family=Roboto+Slab:wght@600&display=swap");

.App {
  height: 100vh;
}

.bg {
  margin-top: 10rem;
  width: 100%;
}

* {
  text-decoration: none;
  font-family: Inter;
}
